.header {
  position: relative;
  z-index: 1;

  .container {
    position: relative;
  }

  @include r(1200) {
    padding: 15px 0;

    &::before {
      @include ovl;
      height: 380px;
      background-color: #305DB4;
      opacity: 0;
      visibility: hidden;
      @include ease;
    }
  }

  @include r(768) {
    &::before {
      height: 460px;
    }
  }

  &__in {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include r(1200) {
      flex-wrap: wrap;
    }
  }

  &__logo {
    max-width: 95px;
    display: inline-block;

    &:hover {
      opacity: .8;
    }

    @include r(1200) {
      order: 1;
    }

    @include r(768) {
      order: 3;
      display: block;
      min-width: 100%;
      margin-top: 10px;
      text-align: center;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin: auto;

    @include r(1200) {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 10px);
      top: 136px;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      @include ease;
    }

    @include r(768) {
      top: 216px;
    }

    &-link {
      font-size: 14px;
      color: $white !important;
      text-transform: uppercase;

      &:hover {
        opacity: .8;
      }

      &:not(:last-child) {
        margin-right: 24px;

        @include r(1300) {
          margin-right: 10px;
        }

        @include r(1200) {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
    }
  }

  &__tel {
    font-family: $F-Heavy;
    font-size: 28px;
    color: $white !important;
    margin-right: 45px;

    &:hover {
      opacity: .8;
    }

    @include r(1300) {
      font-size: 20px;
    }

    @include r(1200) {
      order: 1;
    }
  }

  &__button {
    font-size: 14px;
    line-height: 1.2;
    padding: 18px 20px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include r(1200) {
      position: absolute;
      left: 50%;
      top: 57px;
      transform: translate(-50%, 10px);
      flex-direction: row;
      opacity: 0;
      visibility: hidden;
    }

    @include r(768) {
      top: 134px;
    }

    @include r(476) {
      width: 90%;
      justify-content: center;
    }

    &-icon {
      fill: $blue;
      margin-bottom: 8px;

      @include r(1200) {
        margin-bottom: 0;
        margin-right: 8px;
      }
    }

    &-text {
      @include ease;
    }

    &:hover {
      .header__button-text {
        color: $blue;
      }
    }
  }

  &__hamb {
    position: relative;
    width: 43px;
    height: 33px;

    @include r(1200) {
      order: 2;
    }

    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      fill: $white;
      @include ease;

      &--2 {
        opacity: 0;
        visibility: hidden;
        transform: scale(.5);
      }
    }
  }
}

body.show-menu {
  .header {
    &::before {
      opacity: .9;
      visibility: visible;
    }

    &__hamb {
      &-icon {
        &--1 {
          transform: translate(-50%, -50%) scale(.5);
          opacity: 0;
          visibility: hidden;
        }

        &--2 {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__nav,
    &__button {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, 0);
    }

  }
}
