.models {
  overflow: hidden;

  &__title {
    @include r(768) {
      margin-bottom: 15px;
    }
  }

  &__navigation {
    @include r(768) {
      width: 100%;

      & > button {
        margin: 0;
      }
    }
  }

  &__in {
    position: relative;
    margin-top: 50px;

    @include r(768) {
      margin-top: 25px;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 0;
      width: 2000px;
      height: 100%;
      background-color: $white;
      z-index: 2;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: calc(100% + 30px);
      opacity: .75;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 135px;
    padding-top: 230px;
    padding-right: 30px;
    background-color: $white;
    z-index: 3;

    @include r(1200) {
      display: none;
    }

    &-item {
      position: relative;
      font-family: $R-Medium;
      padding: 15px 0;

      &:not(:last-child) {
        &::before {
          position: absolute;
          content: '';
          width: 3000px;
          height: 1px;
          bottom: 0;
          left: 0;
          background-color: #B6B6B6;
          z-index: 1;
        }
      }
    }
  }

  &__slider {
    overflow: visible;

    &-wrapper {
      max-width: calc(100% - 165px);
      margin-right: 0;
      margin-left: auto;

      @include r(1200) {
        max-width: unset;
      }
    }
  }

  &__slide {
    position: relative;

    &:not(:last-child) {
      &::after {
        position: absolute;
        content: '';
        width: 1px;
        height: 215px;
        background-color: #B6B6B6;
        top: 0;
        right: -15px;

        @include r(768) {
          right: -10px;
        }

        @include r(576) {
          display: none;
        }
      }

    }


    &-image {
      width: 100%;
      height: 215px;
      margin-bottom: 15px;
      @include ct;
    }

    &-row {
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include rmin(1200) {
        &:nth-child(3),
        &:nth-child(6) {
          min-height: 99px;
        }
      }

      @include r(1200) {
        &:not(:last-child) {
          border-bottom: 1px solid #B6B6B6;
        }
      }

      @include r(768) {
        padding: 8px 0;
      }
    }

    &-title {
      font-family: $R-Medium;
      margin-bottom: 10px;

      @include rmin(1200) {
        display: none;
      }
    }
  }

  &__button {
    @include r(453) {
      width: 100%;
    }
  }
}
