.test {
  &__in {
    background-color: $white;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
    padding: 27px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    transform: translateY(-104px);

    @include r(992) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(576) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    @include r(576) {
      text-align: center;
      flex-direction: column;
      align-items: center;
    }

    &::after {
      position: absolute;
      content: '';
      right: -15px;
      top: 50%;
      height: 95%;
      width: 1px;
      background-color: $black;
      opacity: .2;
      transform: translateY(-50%);
    }

    @include r(992) {
      &:nth-child(2),
      &:nth-child(6) {
        &::after {
          display: none;
        }
      }
    }

    @include r(576) {
      &::after {
        display: none;
      }
    }

    &:nth-child(4),
    &:last-child {
      &::after {
        display: none;
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      &::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 95%;
        left: 50%;
        bottom: -15px;
        background-color: $black;
        opacity: .2;
        transform: translateX(-50%);
      }
    }

    @include r(992) {
      &:nth-child(5),
      &:nth-child(6) {
        &::before {
          position: absolute;
          content: '';
          height: 1px;
          width: 95%;
          left: 50%;
          bottom: -15px;
          background-color: $black;
          opacity: .2;
          transform: translateX(-50%);
        }
      }
    }

    @include r(576) {
      &:nth-child(7) {
        &::before {
          position: absolute;
          content: '';
          height: 1px;
          width: 95%;
          left: 50%;
          bottom: -15px;
          background-color: $black;
          opacity: .2;
          transform: translateX(-50%);
        }
      }
    }


    &-title {
      font-family: $F-Demi;
      margin-left: 18px;
      line-height: 1.1;

      @include r(576) {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
}
