$R-Thin: 'Roboto-Thin';
$R-Light: 'Roboto-Light';
$R-Regular: 'Roboto-Regular';
$R-Medium: 'Roboto-Medium';
$R-Bold: 'Roboto-Bold';
$R-Black: 'Roboto-Black';
$R-Italic: 'Roboto-Italic';
$F-Book: 'FuturaPT-Book';
$F-Demi: 'FuturaPT-Demi';
$F-Heavy: 'FuturaPT-Heavy';

.r-bold {
  font-family: $R-Bold;
}
