<section class="banner">
    <video class="banner__video" autoplay loop>
        <source src="{{root}}assets/video/banner__bg.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
    <div class="banner__overlay"></div>
    {{> header}}
    <div class="container">
        <div class="banner__in">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-8">
                    <div class="banner__title section__title">Система динамического контроля веса A&D</div>
                    <div class="d-md-none">
                        <img class="banner__image img-responsive" src="{{root}}assets/img/banner__image.png" alt="banner__image">
                    </div>
                    <div class="banner__description">Контрольно-динамические весы (чеквейер) A&D – система непрерывного (динамического) взвешивания серии AD4961 предназначены для контроля веса продукции, движущейся по конвейеру и автоматической отбраковке упаковок с недовесом или перевесом от заданного весового диапазона. </div>
                    <div class="banner__buttons">
                        <a class="button button--tr" href="#">Подробное описание</a>
                        <button class="button button--tr" data-fancybox data-src="#popup--call">Оформить</button>
                    </div>
                </div>
                <div class="col-xl-6 col-md-4 d-none d-md-block">
                    <img class="banner__image img-responsive" src="{{root}}assets/img/banner__image.png" alt="banner__image">
                </div>
            </div>
        </div>
    </div>
</section>
