<section class="cases" id="#models">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="cases__title section__title">Кейсы</div>
            </div>
            <div class="col-xl-6">
                <div class="cases__slider-wrapper">
                    <div class="cases__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="cases__slide swiper-slide">
                                <div class="cases__slide-in">
                                    <div class="cases__slide-image" style="background-image: url({{root}}assets/img/cases__img--1.png);"></div>
                                    <div class="cases__slide-info">
                                        <div class="cases__slide-name">Балт-Фиш плюс </div>
                                        <div class="cases__slide-description">Компания Балт-Фиш плюс хорошо известна своими рыбными консервами под маркой «Толстый боцман», «Фрегат», «Рыбный стандарт №1» и прочее ни только на территории Псковской области и всего Северо-западного федерального округа, но также продукцию данного предприятия можно увидеть в ведущих продуктовых сетевых магазинах Москвы, Московской области и в Приволжье России. С недавних пор строгий контроль по весу консервов со вкусным тунцом и рыбоовощных наборов обеспечивают два чеквейера с отбраковщиком японского производства A&D. Кроме того, дополнительно был поставлен комплект для жиро- и влагозащищенного применения – шовные и бесшовные ленты для эксплуатации в агрессивной среде (рыбий жир, соленая вода, постоянный уровень влажности выше 85%, реагенты) и керамические подшипники.</div>
                                    </div>
                                </div>
                                <div class="cases__slide-picture" style="background-image: url({{root}}assets/img/cases__picture--1.jpg);"></div>
                            </div>
                            <div class="cases__slide swiper-slide">
                                <div class="cases__slide-in">
                                    <div class="cases__slide-image" style="background-image: url({{root}}assets/img/cases__img--2.png);"></div>
                                    <div class="cases__slide-info">
                                        <div class="cases__slide-name">Балт-Фиш плюс </div>
                                        <div class="cases__slide-description">Компания Балт-Фиш плюс хорошо известна своими рыбными консервами под маркой «Толстый боцман», «Фрегат», «Рыбный стандарт №1» и прочее ни только на территории Псковской области и всего Северо-западного федерального округа, но также продукцию данного предприятия можно увидеть в ведущих продуктовых сетевых магазинах Москвы, Московской области и в Приволжье России. С недавних пор строгий контроль по весу консервов со вкусным тунцом и рыбоовощных наборов обеспечивают два чеквейера с отбраковщиком японского производства A&D. Кроме того, дополнительно был поставлен комплект для жиро- и влагозащищенного применения – шовные и бесшовные ленты для эксплуатации в агрессивной среде (рыбий жир, соленая вода, постоянный уровень влажности выше 85%, реагенты) и керамические подшипники.</div>
                                    </div>
                                </div>
                                <div class="cases__slide-picture" style="background-image: url({{root}}assets/img/cases__picture--1.jpg);"></div>
                            </div>
                            <div class="cases__slide swiper-slide">
                                <div class="cases__slide-in">
                                    <div class="cases__slide-image" style="background-image: url({{root}}assets/img/cases__img--3.png);"></div>
                                    <div class="cases__slide-info">
                                        <div class="cases__slide-name">Балт-Фиш плюс </div>
                                        <div class="cases__slide-description">Компания Балт-Фиш плюс хорошо известна своими рыбными консервами под маркой «Толстый боцман», «Фрегат», «Рыбный стандарт №1» и прочее ни только на территории Псковской области и всего Северо-западного федерального округа, но также продукцию данного предприятия можно увидеть в ведущих продуктовых сетевых магазинах Москвы, Московской области и в Приволжье России.</div>
                                    </div>
                                </div>
                                <div class="cases__slide-picture" style="background-image: url({{root}}assets/img/cases__picture--1.jpg);"></div>
                            </div>
                            <div class="cases__slide swiper-slide">
                                <div class="cases__slide-in">
                                    <div class="cases__slide-image" style="background-image: url({{root}}assets/img/cases__img--4.png);"></div>
                                    <div class="cases__slide-info">
                                        <div class="cases__slide-name">Балт-Фиш плюс </div>
                                        <div class="cases__slide-description">. С недавних пор строгий контроль по весу консервов со вкусным тунцом и рыбоовощных наборов обеспечивают два чеквейера с отбраковщиком японского производства A&D. Кроме того, дополнительно был поставлен комплект для жиро- и влагозащищенного применения – шовные и бесшовные ленты для эксплуатации в агрессивной среде (рыбий жир, соленая вода, постоянный уровень влажности выше 85%, реагенты) и керамические подшипники.</div>
                                    </div>
                                </div>
                                <div class="cases__slide-picture" style="background-image: url({{root}}assets/img/cases__picture--1.jpg);"></div>
                            </div>
                            <div class="cases__slide swiper-slide">
                                <div class="cases__slide-in">
                                    <div class="cases__slide-image" style="background-image: url({{root}}assets/img/cases__img--5.png);"></div>
                                    <div class="cases__slide-info">
                                        <div class="cases__slide-name">Балт-Фиш плюс </div>
                                        <div class="cases__slide-description">Компания Балт-Фиш плюс хорошо известна своими рыбными консервами под маркой «Толстый боцман», «Фрегат», «Рыбный стандарт №1» и прочее ни только на территории Псковской области и всего Северо-западного федерального округа, но также продукцию данного предприятия можно увидеть в ведущих продуктовых сетевых магазинах Москвы, Московской области и в Приволжье России. С недавних пор строгий контроль по весу консервов со вкусным тунцом и рыбоовощных наборов обеспечивают два чеквейера с отбраковщиком японского производства A&D. Кроме того, дополнительно был поставлен комплект для жиро- и влагозащищенного применения – шовные и бесшовные ленты для эксплуатации в агрессивной среде (рыбий жир, соленая вода, постоянный уровень влажности выше 85%, реагенты) и керамические подшипники.</div>
                                    </div>
                                </div>
                                <div class="cases__slide-picture" style="background-image: url({{root}}assets/img/cases__picture--1.jpg);"></div>
                            </div>
                            <div class="cases__slide swiper-slide">
                                <div class="cases__slide-in">
                                    <div class="cases__slide-image" style="background-image: url({{root}}assets/img/cases__img--6.png);"></div>
                                    <div class="cases__slide-info">
                                        <div class="cases__slide-name">Балт-Фиш плюс </div>
                                        <div class="cases__slide-description">. С недавних пор строгий контроль по весу консервов со вкусным тунцом и рыбоовощных наборов обеспечивают два чеквейера с отбраковщиком японского производства A&D. Кроме того, дополнительно был поставлен комплект для жиро- и влагозащищенного применения – шовные и бесшовные ленты для эксплуатации в агрессивной среде (рыбий жир, соленая вода, постоянный уровень влажности выше 85%, реагенты) и керамические подшипники.</div>
                                    </div>
                                </div>
                                <div class="cases__slide-picture" style="background-image: url({{root}}assets/img/cases__picture--1.jpg);"></div>
                            </div>
                            <div class="cases__slide swiper-slide">
                                <div class="cases__slide-in">
                                    <div class="cases__slide-image" style="background-image: url({{root}}assets/img/cases__img--7.png);"></div>
                                    <div class="cases__slide-info">
                                        <div class="cases__slide-name">Балт-Фиш плюс </div>
                                        <div class="cases__slide-description">Компания Балт-Фиш плюс хорошо известна своими рыбными консервами под маркой «Толстый боцман», «Фрегат», «Рыбный стандарт №1» и прочее ни только на территории Псковской области и всего Северо-западного федерального округа, но также продукцию данного предприятия можно увидеть в ведущих продуктовых сетевых магазинах Москвы, Московской области и в Приволжье России. С недавних пор строгий контроль по весу консервов со вкусным тунцом и рыбоовощных наборов обеспечивают два чеквейера с отбраковщиком японского производства A&D. Кроме того, дополнительно был поставлен комплект для жиро- и влагозащищенного применения – шовные и бесшовные ленты для эксплуатации в агрессивной среде (рыбий жир, соленая вода, постоянный уровень влажности выше 85%, реагенты) и керамические подшипники.</div>
                                    </div>
                                </div>
                                <div class="cases__slide-picture" style="background-image: url({{root}}assets/img/cases__picture--1.jpg);"></div>
                            </div>
                            <div class="cases__slide swiper-slide">
                                <div class="cases__slide-in">
                                    <div class="cases__slide-image" style="background-image: url({{root}}assets/img/cases__img--8.png);"></div>
                                    <div class="cases__slide-info">
                                        <div class="cases__slide-name">Балт-Фиш плюс </div>
                                        <div class="cases__slide-description">Компания Балт-Фиш плюс хорошо известна своими рыбными консервами под маркой «Толстый боцман», «Фрегат», «Рыбный стандарт №1» и прочее ни только на территории Псковской области и всего Северо-западного федерального округа, но также продукцию данного предприятия можно увидеть в ведущих продуктовых сетевых магазинах Москвы, Московской области и в Приволжье России. С недавних пор строгий контроль по весу консервов со вкусным тунцом и рыбоовощных наборов обеспечивают два чеквейера с отбраковщиком японского производства A&D. Кроме того, дополнительно был поставлен комплект для жиро- и влагозащищенного применения – шовные и бесшовные ленты для эксплуатации в агрессивной среде (рыбий жир, соленая вода, постоянный уровень влажности выше 85%, реагенты) и керамические подшипники.</div>
                                    </div>
                                </div>
                                <div class="cases__slide-picture" style="background-image: url({{root}}assets/img/cases__picture--1.jpg);"></div>
                            </div>
                            <div class="cases__slide swiper-slide">
                                <div class="cases__slide-in">
                                    <div class="cases__slide-image" style="background-image: url({{root}}assets/img/cases__img--9.png);"></div>
                                    <div class="cases__slide-info">
                                        <div class="cases__slide-name">Балт-Фиш плюс </div>
                                        <div class="cases__slide-description">Компания Балт-Фиш плюс хорошо известна своими рыбными консервами под маркой «Толстый боцман», «Фрегат», «Рыбный стандарт №1» и прочее ни только на территории Псковской области и всего Северо-западного федерального округа, но также продукцию данного предприятия можно увидеть в ведущих продуктовых сетевых магазинах Москвы, Московской области и в Приволжье России. С недавних пор строгий контроль по весу консервов со вкусным тунцом и рыбоовощных наборов обеспечивают два чеквейера с отбраковщиком японского производства A&D. Кроме того, дополнительно был поставлен комплект для жиро- и влагозащищенного применения – шовные и бесшовные ленты для эксплуатации в агрессивной среде (рыбий жир, соленая вода, постоянный уровень влажности выше 85%, реагенты) и керамические подшипники.</div>
                                    </div>
                                </div>
                                <div class="cases__slide-picture" style="background-image: url({{root}}assets/img/cases__picture--1.jpg);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="cases__navigation swiper-navigation">
                        <button class="swiper-button-prev">
                            <svg width="13" height="25">
                                <use xlink:href="#chevron--left"></use>
                            </svg>
                        </button>
                        <button class="swiper-button-next">
                            <svg width="13" height="25">
                                <use xlink:href="#chevron--right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cases__bottom-wrapper">
            <div class="cases__bottom swiper-container">
                <div class="swiper-wrapper">
                    <div class="cases__bottom-slide swiper-slide">
                        <img src="{{root}}assets/img/cases__img--1.png" alt="Case">
                    </div>
                    <div class="cases__bottom-slide swiper-slide">
                        <img src="{{root}}assets/img/cases__img--2.png" alt="Case">
                    </div>
                    <div class="cases__bottom-slide swiper-slide">
                        <img src="{{root}}assets/img/cases__img--3.png" alt="Case">
                    </div>
                    <div class="cases__bottom-slide swiper-slide">
                        <img src="{{root}}assets/img/cases__img--4.png" alt="Case">
                    </div>
                    <div class="cases__bottom-slide swiper-slide">
                        <img src="{{root}}assets/img/cases__img--5.png" alt="Case">
                    </div>
                    <div class="cases__bottom-slide swiper-slide">
                        <img src="{{root}}assets/img/cases__img--6.png" alt="Case">
                    </div>
                    <div class="cases__bottom-slide swiper-slide">
                        <img src="{{root}}assets/img/cases__img--7.png" alt="Case">
                    </div>
                    <div class="cases__bottom-slide swiper-slide">
                        <img src="{{root}}assets/img/cases__img--8.png" alt="Case">
                    </div>
                    <div class="cases__bottom-slide swiper-slide">
                        <img src="{{root}}assets/img/cases__img--9.png" alt="Case">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
