<section class="documents section--inner">
    <div class="container">
        <div class="documents__top d-flex justify-content-between">
            <div class="documents__title section__title">Документация</div>
            <div class="documents__navigation swiper-navigation">
                <button class="swiper-button-prev">
                    <svg width="13" height="25">
                        <use xlink:href="#chevron--left"></use>
                    </svg>
                </button>
                <button class="swiper-button-next">
                    <svg width="13" height="25">
                        <use xlink:href="#chevron--right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="documents__slider-wrapper">
            <div class="documents__slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="documents__slide swiper-slide">
                        <div class="documents__slide-image" style="background-image: url('{{root}}/assets/img/document--1.jpg');">
                            <button class="documents__slide-button" data-fancybox data-src="{{root}}/assets/img/document--1.jpg">
                                <svg width="32" height="32">
                                    <use xlink:href="#loupe"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="documents__slide-title">Методика поверки</div>
                    </div>
                    <div class="documents__slide swiper-slide">
                        <div class="documents__slide-image" style="background-image: url('{{root}}/assets/img/document--2.jpg');">
                            <button class="documents__slide-button" data-fancybox data-src="{{root}}/assets/img/document--2.jpg">
                                <svg width="32" height="32">
                                    <use xlink:href="#loupe"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="documents__slide-title">Описание типа средств измерений Беларусь</div>
                    </div>
                    <div class="documents__slide swiper-slide">
                        <div class="documents__slide-image" style="background-image: url('{{root}}/assets/img/document--3.jpg');">
                            <button class="documents__slide-button" data-fancybox data-src="{{root}}/assets/img/document--3.jpg">
                                <svg width="32" height="32">
                                    <use xlink:href="#loupe"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="documents__slide-title">Описание типа средств измерений РФ</div>
                    </div>
                    <div class="documents__slide swiper-slide">
                        <div class="documents__slide-image" style="background-image: url('{{root}}/assets/img/document--1.jpg');">
                            <button class="documents__slide-button" data-fancybox data-src="{{root}}/assets/img/document--1.jpg">
                                <svg width="32" height="32">
                                    <use xlink:href="#loupe"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="documents__slide-title">Методика поверки</div>
                    </div>
                    <div class="documents__slide swiper-slide">
                        <div class="documents__slide-image" style="background-image: url('{{root}}/assets/img/document--2.jpg');">
                            <button class="documents__slide-button" data-fancybox data-src="{{root}}/assets/img/document--2.jpg">
                                <svg width="32" height="32">
                                    <use xlink:href="#loupe"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="documents__slide-title">Описание типа средств измерений Беларусь</div>
                    </div>
                    <div class="documents__slide swiper-slide">
                        <div class="documents__slide-image" style="background-image: url('{{root}}/assets/img/document--3.jpg');">
                            <button class="documents__slide-button" data-fancybox data-src="{{root}}/assets/img/document--3.jpg">
                                <svg width="32" height="32">
                                    <use xlink:href="#loupe"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="documents__slide-title">Описание типа средств измерений РФ</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="documents__bottom-navigation swiper-navigation">
            <button class="swiper-button-prev">
                <svg width="13" height="25">
                    <use xlink:href="#chevron--left"></use>
                </svg>
            </button>
            <button class="swiper-button-next">
                <svg width="13" height="25">
                    <use xlink:href="#chevron--right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
