<footer class="footer">
    <div class="container container-wide">
        <div class="footer__in">
            <div class="footer__logo-wrapper">
                <a class="footer__logo" href="#">
                    <img src="{{root}}/assets/img/logo--black.png" alt="logo black">
                </a>
                <span>© 2020 “A&D”</span>
            </div>
            <nav class="footer__nav">
                <a class="footer__nav-link" href="#">Описание продукта</a>
                <a class="footer__nav-link" href="#">Модели</a>
                <a class="footer__nav-link" href="#">Кейсы</a>
                <a class="footer__nav-link" href="#">Вопрос-ответ</a>
                <a class="footer__nav-link" href="#">Документация</a>
                <a class="footer__nav-link" href="#">Процесс заявки</a>
            </nav>
            <div class="footer__info">
                <a class="footer__tel" href="tel:74959373344">+7 (495) 937-33-44</a>
                <button class="footer__button" data-fancybox data-src="#popup--call">Задать вопрос</button>
            </div>
        </div>
    </div>
</footer>
