<header class="header">
    <div class="container container-wide">
        <div class="header__in">
            <a class="header__logo" href="#">
                <img class="img-responsive" src="{{root}}/assets/img/logo--white.png" alt="logo-white">
            </a>
            <nav class="header__nav">
                <a class="header__nav-link" href="#">Описание продукта</a>
                <a class="header__nav-link" href="#">Модели</a>
                <a class="header__nav-link" href="#">Кейсы</a>
                <a class="header__nav-link" href="#">Вопрос-ответ</a>
                <a class="header__nav-link" href="#">Документация</a>
                <a class="header__nav-link" href="#">Процесс заявки</a>
            </nav>
            <a class="header__tel" href="tel:74959373344">+7&nbsp;(495)&nbsp;937-33-44</a>
            <button class="header__button" data-fancybox data-src="#popup--call">
                <svg class="header__button-icon" width="25" height="25">
                    <use xlink:href="#call"></use>
                </svg>
                <span class="header__button-text">Обратная<br class="d-none d-xl-inline"> связь</span>
            </button>
            <button class="header__hamb d-xl-none js-toggle-menu" type="button">
                <span class="header__hamb-icon header__hamb-icon--1">
                    <svg width="28" height="13">
                        <use xlink:href="#hamburger"></use>
                    </svg>
                </span>
                <span class="header__hamb-icon header__hamb-icon--2">
                    <svg width="22" height="22">
                        <use xlink:href="#cross"></use>
                    </svg>
                </span>
            </button>
        </div>
    </div>
</header>
