<section class="models section--inner" id="models">
    <div class="container">
        <div class="models__top d-flex justify-content-between flex-column flex-sm-row">
            <div class="models__title section__title">Модели</div>
            <div class="models__navigation swiper-navigation">
                <button class="swiper-button-prev">
                    <svg width="13" height="25">
                        <use xlink:href="#chevron--left"></use>
                    </svg>
                </button>
                <button class="swiper-button-next">
                    <svg width="13" height="25">
                        <use xlink:href="#chevron--right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="models__in">
            <div class="models__info">
                <div class="models__info-item">Название</div>
                <div class="models__info-item">Наибольший предел взвешивания</div>
                <div class="models__info-item">Дискретность</div>
                <div class="models__info-item">Повторяемость1</div>
                <div class="models__info-item">Максимальная пропускная способность</div>
            </div>
            <div class="models__slider-wrapper">
                <div class="models__slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="models__slide swiper-slide">
                            <div class="models__slide-image" style="background-image: url('{{root}}assets/img/models__image--1.png');"></div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Название</div>
                                <div class="models__slide-info">AD4961-600-1224 </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Наибольший предел взвешивания </div>
                                <div class="models__slide-info">600 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Дискретность </div>
                                <div class="models__slide-info">0,01 г</div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Повторяемость1 </div>
                                <div class="models__slide-info">0,01 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Максимальная пропускная способность </div>
                                <div class="models__slide-info">400 шт./мин. </div>
                            </div>
                        </div>
                        <div class="models__slide swiper-slide">
                            <div class="models__slide-image" style="background-image: url('{{root}}assets/img/models__image--1.png');"></div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Название</div>
                                <div class="models__slide-info">AD4961-600-1224 </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Наибольший предел взвешивания </div>
                                <div class="models__slide-info">600 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Дискретность </div>
                                <div class="models__slide-info">0,01 г</div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Повторяемость1 </div>
                                <div class="models__slide-info">0,01 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Максимальная пропускная способность </div>
                                <div class="models__slide-info">400 шт./мин. </div>
                            </div>
                        </div>
                        <div class="models__slide swiper-slide">
                            <div class="models__slide-image" style="background-image: url('{{root}}assets/img/models__image--1.png');"></div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Название</div>
                                <div class="models__slide-info">AD4961-600-1224 </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Наибольший предел взвешивания </div>
                                <div class="models__slide-info">600 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Дискретность </div>
                                <div class="models__slide-info">0,01 г</div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Повторяемость1 </div>
                                <div class="models__slide-info">0,01 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Максимальная пропускная способность </div>
                                <div class="models__slide-info">400 шт./мин. </div>
                            </div>
                        </div>
                        <div class="models__slide swiper-slide">
                            <div class="models__slide-image" style="background-image: url('{{root}}assets/img/models__image--1.png');"></div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Название</div>
                                <div class="models__slide-info">AD4961-600-1224 </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Наибольший предел взвешивания </div>
                                <div class="models__slide-info">600 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Дискретность </div>
                                <div class="models__slide-info">0,01 г</div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Повторяемость1 </div>
                                <div class="models__slide-info">0,01 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Максимальная пропускная способность </div>
                                <div class="models__slide-info">400 шт./мин. </div>
                            </div>
                        </div>
                        <div class="models__slide swiper-slide">
                            <div class="models__slide-image" style="background-image: url('{{root}}assets/img/models__image--1.png');"></div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Название</div>
                                <div class="models__slide-info">AD4961-600-1224 </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Наибольший предел взвешивания </div>
                                <div class="models__slide-info">600 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Дискретность </div>
                                <div class="models__slide-info">0,01 г</div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Повторяемость1 </div>
                                <div class="models__slide-info">0,01 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Максимальная пропускная способность </div>
                                <div class="models__slide-info">400 шт./мин. </div>
                            </div>
                        </div>
                        <div class="models__slide swiper-slide">
                            <div class="models__slide-image" style="background-image: url('{{root}}assets/img/models__image--1.png');"></div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Название</div>
                                <div class="models__slide-info">AD4961-600-1224 </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Наибольший предел взвешивания </div>
                                <div class="models__slide-info">600 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Дискретность </div>
                                <div class="models__slide-info">0,01 г</div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Повторяемость1 </div>
                                <div class="models__slide-info">0,01 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Максимальная пропускная способность </div>
                                <div class="models__slide-info">400 шт./мин. </div>
                            </div>
                        </div>
                        <div class="models__slide swiper-slide">
                            <div class="models__slide-image" style="background-image: url('{{root}}assets/img/models__image--1.png');"></div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Название</div>
                                <div class="models__slide-info">AD4961-600-1224 </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Наибольший предел взвешивания </div>
                                <div class="models__slide-info">600 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Дискретность </div>
                                <div class="models__slide-info">0,01 г</div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Повторяемость1 </div>
                                <div class="models__slide-info">0,01 г </div>
                            </div>
                            <div class="models__slide-row">
                                <div class="models__slide-title">Максимальная пропускная способность </div>
                                <div class="models__slide-info">400 шт./мин. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="d-flex justify-content-center mt-3 mt-xl-5">
            <a class="button models__button" href="#">Посмотреть еще</a>
        </div>
    </div>
</section>
