<section class="products">
    <div class="container">
        <div class="products__slider swiper-container">
            <div class="swiper-wrapper">
                <div class="products__slide swiper-slide">
                    <div class="row no-gutters align-items-xl-end">
                        <div class="col-xl-6 col-md-4">
                            <div class="products__title section__title">
                                Чеквейер серии <br>AD4961
                            </div>
                            <div class="products__image-wrapper">
                                <div class="products__slider-counter">
                                    <div class="products__slider-counter--active js-products-step">01</div>
                                    <div class="products__slider-counter--all js-products-length">04</div>
                                </div>

                                <div class="products__thumbs-wrapper">
                                    <div class="products__thumbs swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="products__thumbs-slide swiper-slide">
                                                <img class="img-responsive" src="{{root}}assets/img/product--1.png" alt="product">
                                            </div>
                                            <div class="products__thumbs-slide swiper-slide">
                                                <img class="img-responsive" src="{{root}}assets/img/product--1.png" alt="product">
                                            </div>
                                            <div class="products__thumbs-slide swiper-slide">
                                                <img class="img-responsive" src="{{root}}assets/img/product--1.png" alt="product">
                                            </div>
                                            <div class="products__thumbs-slide swiper-slide">
                                                <img class="img-responsive" src="{{root}}assets/img/product--1.png" alt="product">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-6 col-md-8">
                            <div class="products__info">
                                <div class="products__slider swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide products__slide">
                                            <div class="products__slide-list">
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Точность взвешивания </div>
                                                    <div class="products__slide-list-item-description">Дискретность от 0,01 до 0,1 г, повторяемость от 0,01 до 1,0 г. </div>
                                                </div>
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Широкий выбор </div>
                                                    <div class="products__slide-list-item-description">Предел взвешивания от 500 г до 2 кг, пропускная способность от 145 до 400 шт./мин., максимальные размеры продукта длина 22-450 мм, ширина 120-300 мм. </div>
                                                </div>
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Удобство в эксплуатации </div>
                                                    <div class="products__slide-list-item-description">7-ми дюймовая цветная сенсорная панель, внутренняя память на 1 000 позиций, небольшой вес, компактная конструкция, уникальный модульный дизайн </div>
                                                </div>
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Высокое качество </div>
                                                    <div class="products__slide-list-item-description">Производство полностью в Японии, свидетельство об утверждении типа средств измерений, регистрационный номер № 79713-20 в Госреестр</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide products__slide">
                                            <div class="products__slide-list">
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Точность взвешивания </div>
                                                    <div class="products__slide-list-item-description">Дискретность от 0,01 до 0,1 г, повторяемость от 0,01 до 1,0 г. </div>
                                                </div>
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Широкий выбор </div>
                                                    <div class="products__slide-list-item-description">Предел взвешивания от 500 г до 2 кг, пропускная способность от 145 до 400 шт./мин., максимальные размеры продукта длина 22-450 мм, ширина 120-300 мм. </div>
                                                </div>
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Удобство в эксплуатации </div>
                                                    <div class="products__slide-list-item-description">7-ми дюймовая цветная сенсорная панель, внутренняя память на 1 000 позиций, небольшой вес, компактная конструкция, уникальный модульный дизайн </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide products__slide">
                                            <div class="products__slide-list">
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Точность взвешивания </div>
                                                    <div class="products__slide-list-item-description">Дискретность от 0,01 до 0,1 г, повторяемость от 0,01 до 1,0 г. </div>
                                                </div>
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Широкий выбор </div>
                                                    <div class="products__slide-list-item-description">Предел взвешивания от 500 г до 2 кг, пропускная способность от 145 до 400 шт./мин., максимальные размеры продукта длина 22-450 мм, ширина 120-300 мм. </div>
                                                </div>
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Удобство в эксплуатации </div>
                                                    <div class="products__slide-list-item-description">7-ми дюймовая цветная сенсорная панель, внутренняя память на 1 000 позиций, небольшой вес, компактная конструкция, уникальный модульный дизайн </div>
                                                </div>
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Высокое качество </div>
                                                    <div class="products__slide-list-item-description">Производство полностью в Японии, свидетельство об утверждении типа средств измерений, регистрационный номер № 79713-20 в Госреестр</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide products__slide">
                                            <div class="products__slide-list">
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Точность взвешивания </div>
                                                    <div class="products__slide-list-item-description">Дискретность от 0,01 до 0,1 г, повторяемость от 0,01 до 1,0 г. </div>
                                                </div>
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Широкий выбор </div>
                                                    <div class="products__slide-list-item-description">Предел взвешивания от 500 г до 2 кг, пропускная способность от 145 до 400 шт./мин., максимальные размеры продукта длина 22-450 мм, ширина 120-300 мм. </div>
                                                </div>
                                                <div class="products__slide-list-item">
                                                    <div class="products__slide-list-item-title">Удобство в эксплуатации </div>
                                                    <div class="products__slide-list-item-description">7-ми дюймовая цветная сенсорная панель, внутренняя память на 1 000 позиций, небольшой вес, компактная конструкция, уникальный модульный дизайн </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="products__navigation swiper-navigation">
                <button class="swiper-button-prev swiper-button--white">
                    <svg width="13" height="25">
                        <use xlink:href="#chevron--left"></use>
                    </svg>
                </button>
                <button class="swiper-button-next swiper-button--white">
                    <svg width="13" height="25">
                        <use xlink:href="#chevron--right"></use>
                    </svg>
                </button>
            </div>

        </div>
    </div>
</section>
