<section class="questions section--inner" id="questions">
    <div class="container">
        <div class="questions__top d-flex justify-content-between">
            <div class="questions__title section__title">Вопросы и ответы</div>
            <div class="questions__navigation swiper-navigation">
                <button class="swiper-button-prev">
                    <svg width="13" height="25">
                        <use xlink:href="#chevron--left"></use>
                    </svg>
                </button>
                <button class="swiper-button-next">
                    <svg width="13" height="25">
                        <use xlink:href="#chevron--right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="questions__slider-wrapper">
            <div class="questions__slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="questions__slide swiper-slide">
                        <div class="questions__item">
                            <div class="questions__item-top">
                                <div class="questions__item-title">Что такое контрольно-динамические весы или чеквейер?</div>
                                <button class="questions__item-button">
                                    <svg width="17" height="11">
                                        <use xlink:href="#chevron--bottom"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="questions__item-dropdown">
                                <div class="questions__item-list">
                                    <div>Достигнуть максимальной производительности технологической линии.</div>
                                    <div>Снизить общие производственные расходы.</div>
                                    <div>Исключить возврат товара от потребителя по несоответствию веса.</div>
                                    <div>Сохранять и анализировать учетные данные.</div>
                                </div>
                            </div>
                        </div>
                        <div class="questions__item">
                            <div class="questions__item-top">
                                <div class="questions__item-title">Каковы функции чеквейера?</div>
                                <button class="questions__item-button">
                                    <svg width="17" height="11">
                                        <use xlink:href="#chevron--bottom"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="questions__item-dropdown">
                                <div class="questions__item-list">
                                    <div>Достигнуть максимальной производительности технологической линии.</div>
                                    <div>Снизить общие производственные расходы.</div>
                                    <div>Исключить возврат товара от потребителя по несоответствию веса.</div>
                                    <div>Сохранять и анализировать учетные данные.</div>
                                </div>
                            </div>
                        </div>
                        <div class="questions__item">
                            <div class="questions__item-top">
                                <div class="questions__item-title">В чем уникальность? </div>
                                <button class="questions__item-button">
                                    <svg width="17" height="11">
                                        <use xlink:href="#chevron--bottom"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="questions__item-dropdown">
                                <div class="questions__item-list">
                                    <div>Достигнуть максимальной производительности технологической линии.</div>
                                    <div>Снизить общие производственные расходы.</div>
                                    <div>Исключить возврат товара от потребителя по несоответствию веса.</div>
                                    <div>Сохранять и анализировать учетные данные.</div>
                                </div>
                            </div>
                        </div>
                        <div class="questions__item">
                            <div class="questions__item-top">
                                <div class="questions__item-title">В чем польза производителям от использования чеквейера? </div>
                                <button class="questions__item-button">
                                    <svg width="17" height="11">
                                        <use xlink:href="#chevron--bottom"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="questions__item-dropdown">
                                <div class="questions__item-list">
                                    <div>Достигнуть максимальной производительности технологической линии.</div>
                                    <div>Снизить общие производственные расходы.</div>
                                    <div>Исключить возврат товара от потребителя по несоответствию веса.</div>
                                    <div>Сохранять и анализировать учетные данные.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="questions__slide swiper-slide">
                        <div class="questions__item">
                            <div class="questions__item-top">
                                    <div class="questions__item-title">В чем уникальность? </div>
                                    <button class="questions__item-button">
                                        <svg width="17" height="11">
                                            <use xlink:href="#chevron--bottom"></use>
                                        </svg>
                                    </button>
                                </div>
                            <div class="questions__item-dropdown">
                                    <div class="questions__item-list">
                                        <div>Достигнуть максимальной производительности технологической линии.</div>
                                        <div>Снизить общие производственные расходы.</div>
                                        <div>Исключить возврат товара от потребителя по несоответствию веса.</div>
                                        <div>Сохранять и анализировать учетные данные.</div>
                                    </div>
                                </div>
                        </div>
                         <div class="questions__item">
                            <div class="questions__item-top">
                                <div class="questions__item-title">Что такое контрольно-динамические весы или чеквейер?</div>
                                <button class="questions__item-button">
                                    <svg width="17" height="11">
                                        <use xlink:href="#chevron--bottom"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="questions__item-dropdown">
                                <div class="questions__item-list">
                                    <div>Достигнуть максимальной производительности технологической линии.</div>
                                    <div>Снизить общие производственные расходы.</div>
                                    <div>Исключить возврат товара от потребителя по несоответствию веса.</div>
                                    <div>Сохранять и анализировать учетные данные.</div>
                                </div>
                            </div>
                        </div>
                        <div class="questions__item">
                            <div class="questions__item-top">
                                <div class="questions__item-title">В чем польза производителям от использования чеквейера? </div>
                                <button class="questions__item-button">
                                    <svg width="17" height="11">
                                        <use xlink:href="#chevron--bottom"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="questions__item-dropdown">
                                <div class="questions__item-list">
                                    <div>Достигнуть максимальной производительности технологической линии.</div>
                                    <div>Снизить общие производственные расходы.</div>
                                    <div>Исключить возврат товара от потребителя по несоответствию веса.</div>
                                    <div>Сохранять и анализировать учетные данные.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questions__bottom-navigation swiper-navigation">
                <button class="swiper-button-prev">
                    <svg width="13" height="25">
                        <use xlink:href="#chevron--left"></use>
                    </svg>
                </button>
                <button class="swiper-button-next">
                    <svg width="13" height="25">
                        <use xlink:href="#chevron--right"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>
