<section class="steps section--inner" id="steps">
    <div class="container">
        <div class="steps__title section__title">Что будет после обращения</div>
        <div class="row">
            <div class="col-xl-4 step__wrapper">
                <div class="step">
                    <div class="step__top-wrapper">
                        <div class="step__top">
                            <div class="step__top-circle">
                                <div class="step__top-icon-wrapper">
                                    <svg class="step__top-icon" width="80" height="53">
                                        <use xlink:href="#step__icon--1"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step__info">
                        <div class="step__title">1. Наши специалисты изучат Ваш&nbsp;запрос</div>
                        <div class="step__description">При необходимости свяжутся с вами для уточнения деталей или заполнения опросного листа (в зависимости от сложности отраслевого решения, которое Вам необходимо).</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 step__wrapper">
                <div class="step">
                    <div class="step__top-wrapper">
                        <div class="step__top">
                            <svg class="step__arrow" width="9" height="15" >
                                <use xlink:href="#steps__arrow"></use>
                            </svg>
                            <div class="step__top-circle">
                                <div class="step__top-icon-wrapper">
                                    <svg class="step__top-icon" width="62" height="61">
                                        <use xlink:href="#step__icon--2"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step__info">
                        <div class="step__title">2. Расчет стоимости.</div>
                        <div class="step__description">В течение всего нескольких часов будут произведены расчеты стоимости оборудования с учетом всех Ваших требований.</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 step__wrapper">
                <div class="step">
                    <div class="step__top-wrapper">
                        <div class="step__top">
                            <svg class="step__arrow" width="9" height="15" >
                                <use xlink:href="#steps__arrow"></use>
                            </svg>
                            <div class="step__top-circle">
                                <div class="step__top-icon-wrapper">
                                    <svg class="step__top-icon" width="56" height="46">
                                        <use xlink:href="#step__icon--3"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step__info">
                        <div class="step__title">3. Отправка коммерческого предложения.</div>
                        <div class="step__description">Равным образом дальнейшее развитие различных форм деятельности влечет.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3 mt-xl-5">
            <button class="button steps__button" data-fancybox data-src="#popup--call">Заказать</button>
        </div>
    </div>
</section>
