<section class="test">
    <div class="container">
        <div class="test__in">
            <div class="test__item">
                <img src="{{root}}assets/img/test__img--1.png" alt="Testimonial Image">
                <div class="test__item-title">26 лет на Российском рынке </div>
            </div>
            <div class="test__item">
                <img src="{{root}}assets/img/test__img--2.png" alt="Testimonial Image">
                <div class="test__item-title">Лидер в России по продажам аналитических весов и анализаторов влажности.</div>
            </div>
            <div class="test__item">
                <img src="{{root}}assets/img/test__img--3.png" alt="Testimonial Image">
                <div class="test__item-title">Официальный сервисный центр </div>
            </div>
            <div class="test__item">
                <img src="{{root}}assets/img/test__img--4.png" alt="Testimonial Image">
                <div class="test__item-title">Техническая консультация, пуско-наладочные работы по запуску оборудования, обучение сотрудников предприятий </div>
            </div>
            <div class="test__item">
                <img src="{{root}}assets/img/test__img--5.png" alt="Testimonial Image">
                <div class="test__item-title">Предпродажная подготовка каждого продукта </div>
            </div>
            <div class="test__item">
                <img src="{{root}}assets/img/test__img--6.png" alt="Testimonial Image">
                <div class="test__item-title">Товар всегда в наличии на складах в России </div>
            </div>
            <div class="test__item">
                <img src="{{root}}assets/img/test__img--7.png" alt="Testimonial Image">
                <div class="test__item-title">Расширенная гарантия 5 лет на многие продукты </div>
            </div>
            <div class="test__item">
                <img src="{{root}}assets/img/test__img--8.png" alt="Testimonial Image">
                <div class="test__item-title">Сертификация по ГОСТ </div>
            </div>
        </div>
    </div>
</section>
