<section class="video section--inner">
    <div class="container">
        <button class="video__button" data-fancybox data-src="https://youtu.be/XPpTgCho5ZA">
            <span class="video__button-icon">
                <svg width="33" height="38">
                    <use xlink:href="#play"></use>
                </svg>
            </span>
        </button>
        <div class="video__title section__title">Профессиональные решения из Японии в области измерительных технологи</div>
        <div class="video__description">Компания A&D предлагает широкий спектр оборудования для нужд большинства отраслей промышленности и лабораторий</div>
    </div>
</section>
